/************************************************
    STILE DI BASE: MOBILE
 ************************************************/
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 1.3;
}

/* COMMON */
/* Layout */

.purple-title {
    color:rebeccapurple;
}

h3 {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    padding-top: 1rem;
}

h2 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

.style {
    font-family: 'Nerko One', cursive;
}

.container {
    width: 100%;
    padding: 0 10px;

    /* debug */
    /* border: 1px solid black; */
}

body {
    font-family: Montserrat,'Helvetica Neue',sans-serif; 
    background-color: lightgray; 
}

.btn {
  
        display: inline-block;
        padding: 0.4em 0.8em;
        border-radius: 70px;
        padding: 5px 10px;
        background-color: #ffff;
        }



/* HEADER */

.site-header { 
    padding: 0 20px;
    text-align: center;
    line-height: 70px;
    color:orange ;
     background-color:ghostwhite;
}

/* MAIN */

.to-hide {
    display: none;
}

/* VIDEO SECTION */

.video-col,
.text-col {
    width: 100%;
    /* padding: */
}

.text-col {
    padding: 10px 20px;
    /* line-height: 1rem; */
    box-shadow: 5px 5px 5px grey;
    background-color: #ffff;
}

.is-bold {
    font-weight:bold;
}

ul {
    list-style: none;
}

li {
    padding: 10px 20px;
}

.social-row ul{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}


.banner-img {
    display: none;
}


/* PRESENTATION SECTION */



/************************************************
    SOLUZIONE RESPONSIVE TABLET
 ************************************************/

/* HEADER */

@media screen and (min-width: 768px) {

.site-header {
    padding: 0 20px;
    height: 60px;
    text-align:left;

    /* font-size; */
    /* height: ; */
} 
    
}

/* MAIN */

/* TITLE SECTION */

@media screen and (min-width: 768px) {

.container {
    padding:0 40px;
}   

.to-hide {
        display: inline-block;
    }
}

/* VIDEO SECTION */

@media screen and (min-width: 768px) {

    .list-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* debug */
            /* border: 1px solid black */
        }

    .list-items li{
        width: calc(100% / 3);
}

}

/* BANNER SECTION */

.banner-img {
    display: block;
}

/* PRESENTATION SECTION */

img-tiramisu {

}

 /************************************************
    SOLUZIONE RESPONSIVE DESKTOP
 ************************************************/


/* HEADER */

@media screen and (min-width: 992px) {

    .site-header {
        padding: 0 5px;
    
        text-align: left;
        font-size:smaller
      
    }

}

/* MAIN */

/* TITLE SECTION */

@media screen and (min-width: 992px) {

.container {

    width: 80%;
    padding:0;
    margin: 0 auto;
}
   
.to-hide {
    display: inline-block;
}

}

/* VIDEO SECTION */

@media screen and (min-width: 992px) {

    .card {
        display: flex;
        flex-wrap: wrap;
    }

    .video-col {
        width: 60%;
    }

    .text-col {
        width: 40%;
        /* padding: */
    }
}