/************************************************
    STILE DI BASE: MOBILE
 ************************************************/
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */

h3 {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    padding-top: 1rem;
}

h2 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

.style {
    font-family: 'Nerko One', cursive;
}

.container {
    width: 100%;
    padding: 0 20px;

    /* debug */
    border: 1px solid black;
}

body {
    font-family: Montserrat,'Helvetica Neue',sans-serif;  
}


/* HEADER */

.site-header { 
    padding: 0 20px;
    text-align: center;
    line-height: 70px;
    color:orange ;
     background-color:ghostwhite;
}

/* MAIN */

.to-hide {
    display: none;
}

/* VIDEO SECTION */

.video-col
.text-col {
    width: 100%;
    /* padding: */
}




/************************************************
    SOLUZIONE RESPONSIVE TABLET
 ************************************************/

/* HEADER */

@media screen and (min-width: 768px) {

.site-header {
    padding: 0 20px;
    height: 60px;
    text-align:left;

    /* font-size; */
    /* height: ; */
} 
    
}

/* MAIN */

/* TITLE SECTION */

@media screen and (min-width: 768px) {

.container {
    padding:0 40px;
}   

.to-hide {
        display: inline-block;
    }
}

/* VIDEO SECTION */




 /************************************************
    SOLUZIONE RESPONSIVE DESKTOP
 ************************************************/


/* HEADER */

@media screen and (min-width: 992px) {

    .site-header {
        padding: 0 5px;
    
        text-align: left;
        font-size:smaller
      
    }

}

/* MAIN */

/* TITLE SECTION */

@media screen and (min-width: 992px) {

/* .container {
    width: 80px;
    
}  */

.to-hide {
    display: inline-block;
}

}

/* VIDEO SECTION */